[submodule "github-advisory-database"]
	path = github-advisory-database
	url = https://github.com/github/advisory-database
[submodule "zdi-advisory-database"]
	path = zdi-advisory-database
	url = https://github.com/delikely/ZDI_Advisories.git
[submodule "cve-database"]
	path = cve-database
	url = https://github.com/CVEProject/cvelist.git
[submodule "nvd-database"]
	path = nvd-database
	url = https://github.com/fkie-cad/nvd-json-data-feeds.git
[submodule "attack-database"]
	path = attack-database
	url = https://github.com/mitre-attack/attack-stix-data.git
[submodule "exploit-db-database"]
	path = exploit-db-database
	url = https://gitlab.com/exploit-database/exploitdb.git/
[submodule "linux-vulns-database"]
	path = linux-vulns-database
	url = https://git.kernel.org/pub/scm/linux/security/vulns.git
